[submodule "Lukas"]
	path = 2020/Lukas
	url = https://github.com/lvrossem/Advent-of-Code-2020
[submodule "Flynn"]
	path = 2020/Flynn
	url = https://gitlab.com/mcbloch/aoc2020
[submodule "Rien"]
	path = 2020/Rien
	url = https://github.com/rien/adventofcode2020
[submodule "Robbe"]
	path = 2020/Robbe
	url = https://github.com/Robbe7730/adventofcode2020
[submodule "Francis"]
	path = 2020/Francis
	url = https://github.com/fbegyn/aoc2020
[submodule "Timo"]
	path = 2020/Timo
	url = https://github.com/timodw/AoC20
[submodule "Kobe"]
	path = 2020/Kobe
	url = https://github.com/SchrodingersCat00/aoc2020
[submodule "Jasper"]
	path = 2020/Jasper
	url = https://github.com/jaspervdj/advent-of-code
[submodule "Lorin"]
	path = 2020/Lorin
	url = https://github.com/werthen/AoC-2020
[submodule "Felix"]
	path = 2020/Felix
	url = https://github.com/ninewise/adventofcode-2020
[submodule "Francis."]
	path = 2020/Francis.
	url = https://github.com/FKD13/AoC2020
[submodule "Mel"]
	path = 2020/Mel
	url = https://gitlab.com/Melsarion/adventofcode2020
[submodule "Poef"]
	path = 2020/Poef
	url = https://github.com/Iepoev/AoC20
[submodule "JP"]
	path = 2020/JP
	url = https://github.com/Jan-PieterBaert/advent-of-code
[submodule "Niko"]
	path = 2020/Niko
	url = https://github.com/niknetniko/AdventOfCode
[submodule "Silvius"]
	path = 2020/Silvius
	url = https://github.com/ajuvercr/aoc_2020
[submodule "Bram"]
	path = 2020/Bram
	url = https://github.com/bravdwal/aoc2020
[submodule "redfast00"]
	path = 2020/redfast00
	url = https://github.com/redfast00/aoc2020
[submodule "Charlotte"]
	path = 2020/Charlotte
	url = https://github.com/charvp/aoc2020
[submodule "Arthur_Swamp"]
	path = 2020/Arthur_Swamp
	url = https://github.com/AWerbrouck/AOC2020
[submodule "Lode"]
	path = 2020/Lode
	url = https://github.com/Bond-009/advent-of-code-2020
[submodule "Mraedis"]
	path = 2020/Mraedis
	url = https://github.com/Mraedis/AoC2020
[submodule "2021/ninewise"]
	path = 2021/ninewise
	url = https://git.fuyu.moe/ninewise/adventofcode-2021.git
[submodule "2021/aoc2021"]
	path = 2021/chvp
	url = https://github.com/chvp/aoc2021
[submodule "2021/robbe"]
	path = 2021/robbe
	url = https://github.com/Robbe7730/adventofcode2021.git
[submodule "robbe"]
[submodule "2021/Flynn"]
	path = 2021/Flynn
	url = https://gitlab.com/mcbloch/aoc2021
[submodule "2021/rien"]
	path = 2021/rien
	url = https://github.com/rien/adventofcode2021.git
[submodule "2021/iasoon"]
	path = 2021/iasoon
	url = https://github.com/iasoon/aoc2021
[submodule "2021/Timpy"]
	path = 2021/Timpy
	url = https://github.com/timodw/aoc_2021
[submodule "SWAMP"]
	path = SWAMP
	url = https://github.com/AWerbrouck/AoC
[submodule "2021/Francis."]
	path = 2021/Francis.
	url = https://github.com/FKD13/AoC2021.git
[submodule "2020/Lox"]
	path = 2020/Lox
	url = https://github.com/Silox/2020-advent-of-code
[submodule "2021/Lox"]
	path = 2021/Lox
	url = https://github.com/Silox/2021-advent-of-code
[submodule "2021/beardhatcode"]
	path = 2021/beardhatcode
	url = https://github.com/beardhatcode/aoc-2021/
[submodule "2021/redfast00"]
	path = 2021/redfast00
	url = https://github.com/redfast00/aoc2021
[submodule "2021/JasperJanin"]
	path = 2021/JasperJanin
	url = https://github.com/JasperJanin/advent-of-code-2021
[submodule "2021/jaspervdj"]
	path = 2021/jaspervdj
	url = https://github.com/jaspervdj/advent-of-code
[submodule "2021/niknetniko"]
	path = 2021/niknetniko
	url = https://github.com/niknetniko/AdventOfCode.git
[submodule "2021/francis"]
	path = 2021/francis
	url = https://github.com/fbegyn/aoc2021
[submodule "2021/mraedis"]
	path = 2021/mraedis
	url = https://github.com/Mraedis/AoC2021/
[submodule "2022/chvp"]
	path = 2022/chvp
	url = https://github.com/chvp/aoc2022.git
[submodule "2022/hvdncamp"]
	path = 2022/hvdncamp
	url = https://github.com/hvdncamp/adventofcode-2022
[submodule "2022/fbegyn"]
	path = 2022/fbegyn
	url = https://github.com/fbegyn/aoc2022
[submodule "2022/mraedis"]
	path = 2022/mraedis
	url = https://github.com/Mraedis/AoC2022
[submodule "2022/mcbloch"]
	path = 2022/mcbloch
	url = https://gitlab.com/mcbloch/aoc2022
[submodule "2022/silvius"]
	path = 2022/silvius
	url = https://github.com/ajuvercr/advent-of-code
[submodule "2022/robe"]
	path = 2022/robe
	url = https://github.com/SchrodingersCat00/aoc2022.git
[submodule "2022/niknetniko"]
	path = 2022/niknetniko
	url = https://github.com/niknetniko/AdventOfCode
[submodule "2022/jaspervdj"]
	path = 2022/jaspervdj
	url = https://github.com/jaspervdj/advent-of-code
[submodule "2022/s-minoo"]
	path = 2022/s-minoo
	url = https://github.com/s-minoo/advent-of-code.git
[submodule "2022/iasoon"]
	path = 2022/iasoon
	url = https://github.com/iasoon/aoc2022.git
[submodule "2023/chvp"]
	path = 2023/chvp
	url = https://github.com/chvp/aoc2023.git
[submodule "2023/mcbloch"]
	path = 2023/mcbloch
	url = https://github.com/mcbloch/AoC2023
[submodule "2023/timpy"]
	path = 2023/timpy
	url = https://github.com/timodw/aoc_2023
[submodule "2023/robbe"]
	path = 2023/robbe
	url = https://github.com/Robbe7730/adventofcode2023
[submodule "2023/francis-punt"]
	path = 2023/francis-punt
	url = https://github.com/FKD13/AoC2023
[submodule "2023/vincent"]
	path = 2023/vincent
	url = https://github.com/Topvennie/AoC2023
[submodule "2023/mraedis"]
	path = 2023/mraedis
	url = https://github.com/Mraedis/AoC2023
[submodule "2023/hannes"]
	path = 2023/hannes
	url = https://github.com/hannes-dev/aoc2023
[submodule "2023/niknetniko"]
	path = 2023/niknetniko
	url = https://github.com/niknetniko/AdventOfCode
[submodule "2023/noctua"]
	path = 2023/noctua
	url = https://github.com/ninewise/adventofcode-2023
[submodule "2024/vincent"]
	path = 2024/vincent
	url = https://github.com/Topvennie/AoC
[submodule "2024/jnms"]
	path = 2024/jnms
	url = https://github.com/Reavershark/aoc24
[submodule "2024/redfast00"]
	path = 2024/redfast00
	url = https://github.com/redfast00/aoc2024
[submodule "2024/chvp"]
	path = 2024/chvp
	url = https://github.com/chvp/aoc2024
[submodule "2024/michiel"]
	path = 2024/michiel
	url = https://github.com/milachae/aoc2024
