[submodule "Lukas"]
	path = Lukas
	url = https://github.com/lvrossem/Advent-of-Code-2020
[submodule "Flynn"]
	path = Flynn
	url = https://gitlab.com/mcbloch/aoc2020
[submodule "Rien"]
	path = Rien
	url = https://github.com/rien/adventofcode2020
[submodule "Robbe"]
	path = Robbe
	url = https://github.com/Robbe7730/adventofcode2020
[submodule "Francis"]
	path = Francis
	url = https://github.com/fbegyn/aoc2020
[submodule "Timo"]
	path = Timo
	url = https://github.com/timodw/AoC20
[submodule "Kobe"]
	path = Kobe
	url = https://github.com/SchrodingersCat00/aoc2020
[submodule "Jasper"]
	path = Jasper
	url = https://github.com/jaspervdj/advent-of-code
[submodule "Lorin"]
	path = Lorin
	url = https://github.com/werthen/AoC-2020
[submodule "Felix"]
	path = Felix
	url = https://github.com/ninewise/adventofcode-2020
[submodule "Francis."]
	path = Francis.
	url = https://github.com/FKD13/AoC2020
[submodule "Mel"]
	path = Mel
	url = https://gitlab.com/Melsarion/adventofcode2020
[submodule "Poef"]
	path = Poef
	url = https://github.com/Iepoev/AoC20
[submodule "JP"]
	path = JP
	url = https://github.com/Jan-PieterBaert/advent-of-code
[submodule "Niko"]
	path = Niko
	url = https://github.com/niknetniko/AdventOfCode
[submodule "Silvius"]
	path = Silvius
	url = https://github.com/ajuvercr/aoc_2020
[submodule "Bram"]
	path = Bram
	url = https://github.com/bravdwal/aoc2020
[submodule "redfast00"]
	path = redfast00
	url = https://github.com/redfast00/aoc2020
[submodule "Charlotte"]
	path = Charlotte
	url = https://github.com/charvp/aoc2020
[submodule "Arthur_Swamp"]
	path = Arthur_Swamp
	url = https://github.com/AWerbrouck/AOC2020
[submodule "Lode"]
	path = Lode
	url = https://github.com/Bond-009/advent-of-code-2020
