[submodule "Lukas"]
	path = 2020/Lukas
	url = https://github.com/lvrossem/Advent-of-Code-2020
[submodule "Flynn"]
	path = 2020/Flynn
	url = https://gitlab.com/mcbloch/aoc2020
[submodule "Rien"]
	path = 2020/Rien
	url = https://github.com/rien/adventofcode2020
[submodule "Robbe"]
	path = 2020/Robbe
	url = https://github.com/Robbe7730/adventofcode2020
[submodule "Francis"]
	path = 2020/Francis
	url = https://github.com/fbegyn/aoc2020
[submodule "Timo"]
	path = 2020/Timo
	url = https://github.com/timodw/AoC20
[submodule "Kobe"]
	path = 2020/Kobe
	url = https://github.com/SchrodingersCat00/aoc2020
[submodule "Jasper"]
	path = 2020/Jasper
	url = https://github.com/jaspervdj/advent-of-code
[submodule "Lorin"]
	path = 2020/Lorin
	url = https://github.com/werthen/AoC-2020
[submodule "Felix"]
	path = 2020/Felix
	url = https://github.com/ninewise/adventofcode-2020
[submodule "Francis."]
	path = 2020/Francis.
	url = https://github.com/FKD13/AoC2020
[submodule "Mel"]
	path = 2020/Mel
	url = https://gitlab.com/Melsarion/adventofcode2020
[submodule "Poef"]
	path = 2020/Poef
	url = https://github.com/Iepoev/AoC20
[submodule "JP"]
	path = 2020/JP
	url = https://github.com/Jan-PieterBaert/advent-of-code
[submodule "Niko"]
	path = 2020/Niko
	url = https://github.com/niknetniko/AdventOfCode
[submodule "Silvius"]
	path = 2020/Silvius
	url = https://github.com/ajuvercr/aoc_2020
[submodule "Bram"]
	path = 2020/Bram
	url = https://github.com/bravdwal/aoc2020
[submodule "redfast00"]
	path = 2020/redfast00
	url = https://github.com/redfast00/aoc2020
[submodule "Charlotte"]
	path = 2020/Charlotte
	url = https://github.com/charvp/aoc2020
[submodule "Arthur_Swamp"]
	path = 2020/Arthur_Swamp
	url = https://github.com/AWerbrouck/AOC2020
[submodule "Lode"]
	path = 2020/Lode
	url = https://github.com/Bond-009/advent-of-code-2020
[submodule "Mraedis"]
	path = 2020/Mraedis
	url = https://github.com/Mraedis/AoC2020
[submodule "2021/ninewise"]
	path = 2021/ninewise
	url = https://git.fuyu.moe/ninewise/adventofcode-2021.git
[submodule "2021/aoc2021"]
	path = 2021/chvp
	url = https://github.com/chvp/aoc2021
[submodule "2021/robbe"]
	path = 2021/robbe
	url = https://github.com/Robbe7730/adventofcode2021.git
[submodule "2021/silvius"]
	path = 2021/silvius
	url = https://github.com/ajuvercr/aoc-2021.git
[submodule "robbe"]
[submodule "2021/Flynn"]
	path = 2021/Flynn
	url = https://gitlab.com/mcbloch/aoc2021
[submodule "2021/rien"]
	path = 2021/rien
	url = https://github.com/rien/adventofcode2021.git
[submodule "2021/iasoon"]
	path = 2021/iasoon
	url = https://github.com/iasoon/aoc2021
